@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-color: dark;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: #424242;
}

*::-webkit-scrollbar-thumb {
  background-color: #7b7b7b;
  transition: 0.3s ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #979797;
}
