### VS Code ###
.vscode/

### Dependencies ###
/node_modules
/.pnp
.pnp.js

### Misc ###
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

### Log ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*