# Docker
Dockerfile        text

# Web
*.bash            text eol=lf
*.cmd             text eol=crlf
*.css             text diff=css
*.html            text diff=html
*.ini             text
*.js              text
*.json            text
*.jsx             text
*.sh              text eol=lf
*.ts              text
*.tsx             text
*.xml             text
*.xhtml           text diff=html

# Docs
*.markdown        text diff=markdown
*.md              text diff=markdown

# Config
.env              text
.gitattributes    text
.gitconfig        text
.htaccess         text
*.cnf             text
*.conf            text
*.config          text
*.lock            text -diff
package.json      text eol=lf
package-lock.json text -diff
Makefile          text

# Dist
dist/** -diff linguist-generated=true