@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    @apply w-[.75rem] h-[.75rem];
  }

  *::-webkit-scrollbar-track {
    @apply bg-gh-button;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-gh-button-border rounded-md transition-all border-[3px] 
      border-solid border-transparent bg-clip-content;
  }

  body {
    @apply bg-gh-bg;
  }
}

@layer utilities {
  .color-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .color-input::-webkit-color-swatch {
    @apply border-0 rounded-sm;
  }
  .color-input::-moz-color-swatch {
    @apply border-0 rounded-sm;
  }
}
